.footer
	padding: 40px 0
	background-color: $color-ctx-dark-bg
	text-align: center

.footer__logo, .footer__icons
	margin-bottom: 24px

.footer__nav
	margin: 28px 0

.footer__link
	line-height: 34px
	color: $color-ctx-dark-link

.footer__link:hover .footer__icon
	fill: $color-active-primary

.footer__icons
	display: flex
	width: 185px
	margin-left: auto
	margin-right: auto
	justify-content: space-between
	align-items: center

.footer__icon-link
	height: auto
	max-height: 25px

.footer__icon-ctx
	width: 25px
	height: 25px

.footer__icon
	fill: $color-ctx-dark-link

.footer__cta-ctx
	margin-bottom: 22px

.footer__copy
	margin-bottom: 0



@media (min-width: $brkpnt-desk-min)
	.footer__inner
		display: flex
		justify-content: space-between

	.footer__section
		text-align: left

	.footer__section--last
		text-align: right

	.footer__icons
		width: 154px

	.footer__icon-link
		max-height: 22px

	.footer__icon-ctx
		width: 22px
		height: 22px

	.footer__nav
		margin: 0

	.footer__links
		display: grid
		grid-auto-flow: column
		grid-template-rows: repeat(3, 1fr)
		grid-column-gap: 128px

	.footer__link, .footer__copy
		font-size: 15px

	.footer__link
		font-weight: 300
