.hero
  text-align: center
  background-image: url('../img/bg-intro-mobile.svg')
  background-size: contain
  background-repeat: no-repeat
  padding: 0
  
.hero__heading
  font-size: 39px
  line-height: 47px

.hero__media-ctx
  z-index: 12
  position: relative
  overflow-y: clip
  height: calc(100vw * .97)

.hero__img
  position: absolute
  bottom: 0
  left: 0
  width: 100%

.hero__content
  padding: 23px 10px 88px

.hero__heading
  margin: 0