@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,700&display=swap')

html
  font-family: 'Public Sans', Helvetica, Arial, sans-serif
  font-size: 15px
  line-height: 25px
  letter-spacing: -0.25px

h1, h2, h3, h4, h5, h6
  font-weight: 300
