@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,700&display=swap');

html {
	overflow-x: hidden;
	font-family: 'Public Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: -0.25px;
	color: $color-light-text;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: $color-light-heading;
}

a {
	transition-property: all;
	transition-duration: $transition-duration;
}

a:hover {
	color: $color-active-primary;
}



@media (min-width: $brkpnt-desk-min) {
	html {
		font-size: 18px;
		line-height: 28px;
	}
}
