.section
  text-align: center

.section__heading
  font-size: 31px
  line-height: 37px
  letter-spacing: 0



.column__heading
  font-size: 20px
  letter-spacing: -.4px



.footer
  background-color: $color-ctx-dark-bg
  text-align: center

.footer__icons, .footer__links 
  padding-left: 0

.footer__icon-ctx, .footer__link-ctx
  list-style: none

.footer__link
  line-height: 34px
  text-decoration: none
  color: $color-ctx-dark-link

.footer__link:hover .footer__icon
  fill: $color-active

.footer__icon
  fill: $color-ctx-dark-link

.footer__copy
  margin-bottom: 0
