.section
  text-align: center

.section__heading
  font-size: 31px
  line-height: 37px
  letter-spacing: 0



.column__heading
  font-size: 20px
  letter-spacing: -.4px



.footer
  text-align: center

.footer__icons, .footer__links 
  padding-left: 0

.footer__icon-ctx, .footer__link-ctx
  list-style: none

.footer__icon, .footer__link
  text-decoration: none

.footer__link
  line-height: 34px
