.section
  text-align: center

.section__heading
  font-size: 31px
  line-height: 37px
  letter-spacing: 0



.menu
  padding-left: 0

.menu-link-ctx
  list-style: none

.menu-link
  text-decoration: none



.header__links
  text-align: center

.header__link
  font-size: 18px
  line-height: 45px
  color: $color-light-heading



.column__heading
  font-size: 20px
  letter-spacing: -.4px



.footer
  background-color: $color-ctx-dark-bg
  text-align: center

.footer__link
  line-height: 34px
  color: $color-ctx-dark-link

.footer__link:hover .footer__icon
  fill: $color-active

.footer__icon
  fill: $color-ctx-dark-link

.footer__copy
  margin-bottom: 0
