@mixin animx-menu-start() {
	top: calc(-100vh - 330px);
	// left: calc(-100vw - 330px);
}

@mixin animx-menu-end() {
	top: 64px;
	// left: 0;
}

@mixin animx-overlay-start() {
	top: -100vh;
}

@mixin animx-overlay-end() {
	top: 0;
}
