@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,700&display=swap");
html {
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.25px;
  color: #9698a6;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: black;
}

a:hover {
  color: #31d35c;
}

.section {
  text-align: center;
  padding: 64px 25px 50px;
}

.section--bg_light {
  background-color: #fafafa;
}

.section--bg_dark {
  background-color: #f3f4f6;
}

.section__heading {
  margin: 0;
  font-size: 31px;
  line-height: 37px;
  letter-spacing: 0;
}

.header-narrow {
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-narrow__modal {
  display: none;
  top: 64px;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px 37px 24px 32px;
}

.header-narrow__modal--active {
  display: block;
}

.header-narrow__links {
  margin: 0;
  border-radius: 5px;
  background-color: white;
  padding: 20px 0;
  text-align: center;
}

.header-wide {
  display: none;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  height: 20px;
  background-color: white;
  padding: 22px 24px;
}

.header__nav {
  text-align: right;
  line-height: 0;
}

.header__nav-icon-ctx {
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  padding: 1px 0;
}

.header__nav-icon-ctx--active {
  display: block;
}

.header__nav-icon-ctx--inactive {
  display: none;
}

.header__nav-close {
  padding-left: 3px;
  padding-right: 3px;
}

.header__links {
  text-align: center;
}

.header__link {
  font-size: 18px;
  line-height: 45px;
  color: black;
}

.header__cta-ctx {
  display: none;
}

.columns {
  padding-top: 24px;
}

.column {
  padding-top: 17px;
}

.column__heading {
  margin: 19px 0 17px;
  font-size: 20px;
  letter-spacing: -0.4px;
}

.footer {
  padding-top: 40px;
  background-color: #2d314d;
  text-align: center;
}

.footer__link {
  line-height: 34px;
  color: white;
}

.footer__link:hover .footer__icon {
  fill: #31d35c;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__icon-ctx {
  margin: 0 8px;
}

.footer__icon {
  fill: white;
}

.footer__copy {
  margin-bottom: 0;
}

.button, .button:hover {
  color: white;
}

.button {
  display: inline-block;
  border-radius: 34px;
  padding: 10px 34px;
  background-color: white;
  background-image: linear-gradient(135deg, #31d35c, #2bb7da);
  vertical-align: middle;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.75px;
  text-decoration: none;
}

.button:hover {
  background-image: linear-gradient(135deg, rgba(49, 211, 92, 0.5), rgba(43, 183, 218, 0.5));
}

.cards {
  padding: 30px 0px 14px;
}

.card {
  margin-bottom: 24px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
}

.card__media-ctx {
  height: 200px;
  overflow: hidden;
}

.card__media {
  width: 100%;
}

.card__content {
  padding: 22px 32px 42px;
}

.card__heading {
  margin: 0px 0px 8px;
  font-size: 16px;
  line-height: 20px;
}

.card__subtitle {
  margin: 0px 0px 5px;
  font-size: 10px;
  letter-spacing: -0.15px;
}

.card__text {
  margin: 0px 0px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
}

.hero {
  text-align: center;
  background-image: url("../img/bg-intro-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
}

.hero__heading {
  font-size: 39px;
  line-height: 47px;
}

.hero__media-ctx {
  z-index: 12;
  position: relative;
  overflow-y: clip;
  height: calc(100vw * .97);
}

.hero__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hero__content {
  padding: 23px 10px 88px;
}

.hero__heading {
  margin: 0;
}

.menu {
  padding-left: 0;
}

.menu-link-ctx {
  list-style: none;
}

.menu-link {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
